body{
	background-color: #000000;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center top;
}
a{
	color: #000000;
}
h1{
	color:#534f9c;
	font-family: 'Teko', sans-serif;

}
p{
	color:#d81f6a;
font-family: 'Unica One', cursive;


}
.blur:hover {
	webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
.hover:hover{
	background-color: #aaaaaa;
}
.center{
	margin: auto;
	display: block;
}
.text{
	text-align: center;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
	border-color: #d81f6a transparent transparent;
}
.top-bar{
	background-color: #f0efef;
}
.top-bar ul{
	background-color: #f0efef;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	.top{
		display: none;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}