body{
	background-color: #000000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}
a{
    color: #000000;
}
h1{
    color:#55b848;
    font-family: 'Teko', sans-serif;
}
p{
    color:#705298;
    font-family: 'Unica One', cursive;


}
label{
    color: #705298;
    font-family: 'Unica One', cursive;
}
.center{
    margin: auto;
    display: block;
}
.text{
    text-align: center;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    border-color: #705298 transparent transparent;
}
.top-bar{
    background-color: #f0efef;
}
.top-bar ul{
    background-color: #f0efef;
}