body{
	background-image: url('../_pix/toppic2.png');
	background-color: #d6d5d6;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center top;
}

nav{
	padding: 0;
	margin: 0;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(63, 52, 57, 0.7);
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 40px;
}

li {
    float: left;
    height: 40px;
}

li a {
	transition: background-color 0.5s ease;
    display: block;
    color: white;
    text-align: center;
    padding: 6px 19px;
    text-decoration: none;
    height: 40px;
}

li a:hover {
    background-color: #e18cbc;
    height: 40px;
}
h2{

    font-family: 'Palanquin Dark', sans-serif;
}
p{
    font-size: 25px;
        font-family: 'Old Standard TT', serif;
}

footer{
    background: rgba(36, 36, 42, 0.5);
    height: 40px;
    float: left;
    text-align: center;
       position:fixed;
   left:0px;
   bottom:0px;
}
.top{
        margin-top: 70px;
        text-align: center;
}

.row{
    width: 100%;
}
.column{

    text-align: center;
    padding: 50px;
    font-family: 'Palanquin Dark', sans-serif;
    text-decoration: none;
}
.large-12{
     font-family: 'Palanquin Dark', sans-serif;
    text-decoration: none;
    transition: background-color 1.0s ease;
    transition: box-shadow 0.5s ease;

}
.large-12:hover{
    background: rgba(81, 81, 224, 0.2);
    box-shadow: 0 0 40px 7px rgba(81, 81, 224, 0.8);
}